.prism-code-editor {
    background-color: var(--primary-bg)!important;
    color: #d7d7df!important;
    font-variant-ligatures: none;
    font-size: 11px;
    font-weight: 300!important;
    height: 100%;
}

.guide-indents div{
    background-color: #c9c9d10e!important;
}

.ligatures {
    font-variant-ligatures: common-ligatures!important;
}

.keyword-import {
    color: #c6a3f0!important;
}

.maybe-class-name {
    color: #6cb4ed!important;
}

.string {
    color: #77cf91!important;
}

.keyword-from {
    color: #c678dd!important;
}

.keyword-const {
    color: #c678dd!important;
}

.function {
    color: #61aeee!important;
}

.keyword-async {
    color: #c678dd!important;
}

.keyword-let {
    color: #c678dd!important;
}

.keyword-await {
    color: #d6c460!important;
}

.keyword-return {
    color: #c678dd!important;
}

.keyword-if {
color: #c678dd!important;
}

.keyword-else {
color: #c678dd!important;
}

.keyword-function {

}

.keyword-as {
    color: #c6a3f0!important
}

.keyword {
    color: #c6a3f0!important
}

.token.tag {
    color: #d7d7df!important;
}

.token.attr-name {
    color: #eea472!important;
}

.token.attr-value {
    color: #77cf91!important;
}

.token.boolean {
    color: #ff9d65!important;
}

.token.decorator {
    color: #d6c460!important;
}

.token.comment {
    color: #d7d7df49!important;
}