.prism-code-editor {
    background-color: var(--primary-bg)!important;
    font-family: "JetBrains Mono", monospace!important;
    font-variant-ligatures: none;
    font-size: 0.8em;
    font-weight: 300!important;
}