[data-theme="light"] {
    --primary-color: #303033;
    --primary-bg: #ffffff;
    --secondary-bg: #fafafa;
    --primary-tint: #9D5EC4;
    --primary-tint-1: #c299da;
    --primary-tint-2: #ad80c2;
    --primary-tint-3: #bf93d8;
    --primary-tint-4: #caa4df;
    --primary-tint-5: #a57eb8;
    --primary-tint-3--10: rgba(194, 161, 214, 0.102);
    --primary-tint-3--30: rgba(194, 161, 214, 0.3);
    --primary-tint-3--70: #bf93d8b3;
    --primary-tint-6: #f2d8ffef;
    --primary-tint-6--30: #c0b6c5b6;
    --primary-tint-7: #5b515fef;
    --primary-border: 1px solid var(--primary-tint-3--10);
    --primary-modal: #342c3a3b;
    --logo-color: #655669;
    --save-color: #ffffff;
    --report-color: #c9303096;
    --meta-button-color: #303033e0;
}

[data-theme="dark"] {
    --primary-color: #FFF;
    --primary-bg: #1d1d26;
    --secondary-bg: #191922;
    --primary-tint: #9D5EC4;
    --primary-tint-1: #a970cb;
    --primary-tint-2: #b481d2;
    --primary-tint-3: #bf93d8;
    --primary-tint-4: #caa4df;
    --primary-tint-5: #d5b6e5;
    --primary-tint-3--10: rgba(191, 147, 216, 0.102);
    --primary-tint-3--30: rgba(191, 147, 216, 0.30);
    --primary-tint-3--70: #bf93d8b3;
    --primary-tint-6: #f6e3ffef;
    --primary-tint-6--30: #f7e6ff4d;
    --primary-tint-7: #dfcbe9e0;
    --primary-border: 1px solid var(--primary-tint-3--10);
    --logo-color: #86869b;
    --primary-modal: #1e1a22bb;
    --save-color: #ffffffd0;
    --report-color: #c9303096;
    --report-color-nt: #c93030;
    --meta-button-color: #ffffffe0;
}